
:root {
    --accent-color: #2196F3;
}
body {
    width: 100vw;
    height: 100vh;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}

.accent-color {
    color: var(--accent-color);
}
.header-container {
    background-color: aqua;
    
}
.logo {
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
}